.tab-container .tabs li.tab-title a {
    background: #333;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 5px;
    color: #fff;
}

.tab-container .tabs li.tab-title.active a {
    background: #f3f3f3;
    color: #333;
}

.tab-container .tabs-content {
    padding: 5px 15px;
    background: #f3f3f3;
}