{% extends 'layout.twig' %}

{% block content %}
    <!-- Main Content Section -->
<section class="tab-container">
    <div class="row">
        <div class="large-12 columns">
            <ul class="tabs" data-tab>
                {% for key,element in content %}
                    <li class="tab-title"><a href="#tab{{ key }}">{{ element.name|e }}</a></li>
                {% endfor %}
            </ul>
            <div class="tabs-content">
                {% for key,element in content %}
                    <div class="content" id="tab{{ key }}">
                        {% include element.partial with {data: element.data} %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}