<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ app.request.getBaseURL() }}/assets/require.css" rel="stylesheet" type="text/css">
    <script src="{{ app.request.getBaseURL() }}/assets/require.js"></script>
</head>
<body>
<!-- Nav and Banner -->
<div class="row">
    <div class="large-12 columns">

        <!-- Navigation -->
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                    <h1>
                        <a href="#">
                            Three tabs
                        </a>
                    </h1>
                </li>
            </ul>
        </nav>

        <!-- End Navigation -->
        <hr>
    </div>
</div>

<!-- End Nav and Banner -->

{% block content %}{% endblock %}

<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright pdziok</p>
            </div>
        </div>
    </div>
</footer>
<script>
    require(['foundation'], function($) {
        jQuery(document).foundation();
    });
</script>
</body>
</html>