{% for sectionName,section in data %}
    <h3>{{ sectionName }}</h3>
    <ul>
        {% for entry in section %}
            <li>
                <span class="label">{{ entry.pubDate|date('Y-m-d H:i:s') }}</span>
                <strong><a href="{{ entry.link }}">{{ entry.title }}</a></strong>
            </li>
        {% endfor %}
    </ul>
{% endfor %}