{% for sectionName,section in data %}
    <h3>{{ sectionName }}</h3>
    <ul>
        {% for url,traffic in section %}
            <li>{{ url }} - {{ traffic }}</li>
        {% endfor %}
    </ul>
{% endfor %}